{% extends 'base.html' %}

{% block head %}

About

{% endblock %}

{% block body %}

<div class="containerAbout">
    <div class="containerAbout1">
        <div id="text">
            Hello There
        </div>
        <div id="text2">
            I am Sarvesh Rane
        </div>
        <div id="text3">
            I am an UnderGrad Engineering student and,<br><br>
            I like creating Dope websites.
        </div>
    </div>
    <div class="containerAbout2">
        <div id="text4">
            Find me on
        </div>
        <div>
            <a href='https://www.instagram.com/sarveshrane2000/' class="fa fa-instagram"></a>
            <a href='https://twitter.com/SarveshRane2000' class="fa fa-twitter"></a>
            <a href=# class="fa fa-google"></a>
            <a href='https://www.facebook.com/sarvesh.rane.779' class="fa fa-facebook"></a>
        </div>
    </div>
</div>

{% endblock %}